[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras-bert = "*"
sentencepiece = "*"
scikit-learn = "*"
transformers = "*"
tensorflow = {version = ">=2.0"}
matplotlib = "*"
pydot = "*"

[dev-packages]

[requires]
python_version = "3.8"
